h1 {
    text-align: center;
    color: rgb(128, 2, 73);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: xx-large;
}
#photo {
    display: block;
    text-align: center;
}
img {
    border: 1px solid rgba(4, 4, 4, 2);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    height: 350px;
    width: 450px;
}
a {
    background-color: rgb(128, 2, 73);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button {
     background-color: rgb(128, 2, 73);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#click {
    text-align: center;
    padding: 15px;
    
}