*{
    margin: 0;
    padding: 0;
}
#nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
}
#nav>h2 {
    font-size: large;
    padding: 4px;
}
#nav>a {
    margin-left: auto;
    text-align: right;
}
.header {
    height: 10vh;
    width: 100vw;
    background-color: #73B9DE;
    
}
h1 {
    padding-top: 35px;
    padding-left: 25vw;
    padding-right: 25vw;
    font-style: italic;
    color: rgba(33, 33, 33, 0.726);
    text-align: center;
    font-size: large;
}
button {
    background: #73B9DE;
    color: white;
    border: none;
    padding: 10px;
    width: 20%;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    justify-content: center;
}
#start>a {
    text-decoration: none;
}
#start>a:hover {
  text-decoration: none; 
}
button:hover {
    background: #5486a1;
}
::-webkit-scrollbar {
    display: none;
}
